@model WebProjekat.Models.Dispecer
@{
    ViewBag.Title = "PrikazDispecera";
}

<div style="text-align:center">
    <h2>Vaši podaci</h2>
</div>

<html>
<body>
    <table style="background-color:cornsilk" border="1" align="center">
        <tr>
            <td>Korisničko ime:</td>
            <td><label>@Model.KorisnickoIme</label></td>
        </tr>
        <tr>
            <td>Ime:</td>
            <td><label>@Model.Ime</label></td>
        </tr>
        <tr>
            <td>Prezime:</td>
            <td><label>@Model.Prezime</label></td>
        </tr>
        <tr>
            <td>Jmbg:</td>
            <td><label>@Model.Jmbg</label></td>
        </tr>
        <tr>
            <td>Pol:</td>
            <td><label>@Model.Pol</label></td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td><label>@Model.Email</label></td>
        </tr>
        <tr>
            <td>Kontakt telefon:</td>
            <td><label>@Model.KontaktTelefon</label></td>
        </tr>
    </table>

    <table align="center">
        <tr>
            <td>
                <form action="/Dispecer/Izmena">
                    <input type="submit" value="Izmeni podatke" />
                </form>
            </td>
            <td>
                <form action="/Dispecer/Vozac">
                    <input type="submit" value="Dodaj vozača" />
                </form>
            </td>
            <td>
                <form action="/Dispecer/Voznja">
                    <input type="submit" value="Formiraj vožnju" />
                </form>
            </td>
            <td>
                <form action="/Dispecer/Odjava">
                    <input type="submit" value="Odjavi se" />
                </form>
            </td>
        </tr>
    </table>

    @if (Model.ListaVoznji.Count > 0)
    {
        <h2>Odredite kriterijume pretrage</h2>
    <form action="/Dispecer/Tabela">
        <table border="0">
            <tr>
                <td>Filtriraj po statusu voznje:</td>
                <td>
                    <select name="filter">
                        <option value="SVE"> SVE VOŽNJE</option>
                        <option value="FORMIRANA">FORMIRANE</option>
                        <option value="OBRADJENA">OBRAĐENE</option>
                        <option value="PRIHVACENA">PRIHVAĆENE</option>
                        <option value="NEUSPESNA">NEUSPEŠNE</option>
                        <option value="USPESNA">USPEŠNE</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>Sortiraj po:</td>
                <td>
                    <select name="sort">
                        <option value="SVE">BEZ SORTIRANJA</option>
                        <option value="DATUM">DATUMU</option>
                        <option value="OCENA">OCENI</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td align="center" colspan="2">Pretraži po datumu porudžbine:</td>                
            </tr>
            <tr>                
                <td>
                    <label>Od:</label>
                    <select name="odDatum">
                       <option value="prazno" selected ="selected"></option>
                        @foreach(WebProjekat.Models.Voznja v in Model.ListaVoznji)
                        {
                            <option>@v.DatumVremePorudzbine</option>
                        }
                    </select>
               </td>
                <td>
                    <label>Do:</label>
                    <select name="doDatum">
                        <option value="prazno" selected="selected"></option>
                        @foreach (WebProjekat.Models.Voznja v in Model.ListaVoznji)
                        {
                            <option>@v.DatumVremePorudzbine</option>
                        }
                    </select>
                </td>
            </tr>

            <tr>
                <td align="center" colspan="2">Pretraži po oceni:</td>                
            </tr>
            <tr>                
                <td align="right">
                    <label>Od:</label>
                    <select name="odOcena">
                        <option value="NEOCENJEN" selected="selected">0</option>
                        <option value="VRLOLOSE">1</option>
                        <option value="LOSE">2</option>
                        <option value="DOBRO">3</option>
                        <option value="VRLODOBRO">4</option>
                        <option value="ODLICNO">5</option>
                    </select>
               </td>
                <td>
                    <label>Do:</label>
                    <select name="doOcena">
                        <option value="ODLICNO" selected="selected">5</option>
                        <option value="VRLODOBRO">4</option>
                        <option value="DOBRO">3</option>
                        <option value="LOSE">2</option>
                        <option value="VRLOLOSE">1</option>
                        <option value="NEOCENJEN">0</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td align="center" colspan="2">Pretraži po ceni:</td>                
            </tr>
            <tr>                
                <td><label>Od:</label><input type="text" name="odCena"/></td>
                <td><label>Do:</label><input type="text" name="doCena" /></td>
            </tr>

            <tr>
                <td align="center" colspan="2">Pretraži po imenu i/ili prezimenu vozača:</td>
            </tr>
            <tr>                
                <td align="right">
                    <label>Ime:</label>
                    <select name="ime">
                       <option value="prazno" selected ="selected"></option>
                        @foreach(WebProjekat.Models.Vozac v in WebProjekat.Models.Korisnici.ListaVozaca)
                        {
                            <option>@v.Ime</option>
                        }
                    </select>
               </td>
                <td>
                    <label>Prezime:</label>
                    <select name="prezime">
                        <option value="prazno" selected="selected"></option>
                        @foreach (WebProjekat.Models.Vozac v in WebProjekat.Models.Korisnici.ListaVozaca)
                        {
                            <option>@v.Prezime</option>
                        }
                    </select>
                </td>
            </tr>
            

            <tr>
                <td colspan="2" align="center">
                    <input type="hidden" name="dispecer" value="@Model.KorisnickoIme" />
                    <input type="submit" value="Primeni" />
                </td>
            </tr>
        </table>
    </form>
    }


    @if (Model.SortiraneVoznje.Count > 0)
    {
        <div>
            <h2>Vaše vožnje</h2>
        </div>

        <table border="1" style="background-color:cornsilk">
            @foreach (WebProjekat.Models.Voznja v in Model.SortiraneVoznje)
            {
                if (v.StatusVoznje == Model.Filter || Model.Filter == WebProjekat.Models.Enums.StatusVoznje.NEMA)
                {

                    int i = @Model.ListaVoznji.IndexOf(v) + 1;

                <tr>
                    <td colspan="2" align="center">VOŽNJA @i.ToString()</td>
                </tr>

                <tr>
                    <td>Datum i vreme porudžbine:</td>
                    <td><label>@v.DatumVremePorudzbine</label></td>
                </tr>

                <tr>
                    <td>Lokacija na koju taxi dolazi:</td>
                    <td><label>@v.LokacijaNaKojuTaxiDolazi.Adresa.Ulica @v.LokacijaNaKojuTaxiDolazi.Adresa.Broj @v.LokacijaNaKojuTaxiDolazi.Adresa.NaseljenoMesto</label></td>
                </tr>

                <tr>
                    <td>Status vožnje:</td>
                    <td><label>@v.StatusVoznje</label></td>
                </tr>

                <tr>
                    <td colspan="2" align="center">
                        <form action="/Dispecer/VoznjaInfo">
                            <input type="hidden" name="dispecer" value="@Model.KorisnickoIme" />
                            <input type="hidden" name="index" value="@i" />
                            <input type="submit" value="Prikaži sve informacije" />
                        </form>
                    </td>
                </tr>
                    if (v.StatusVoznje != WebProjekat.Models.Enums.StatusVoznje.NEUSPESNA)
                    {
                        if (v.StatusVoznje != WebProjekat.Models.Enums.StatusVoznje.USPESNA)
                        {
                        <tr>
                            <td colspan="2" align="center">
                                <form action="/Dispecer/VoznjaObrada">
                                    <input type="hidden" name="dispecer" value="@Model.KorisnickoIme" />
                                    <input type="hidden" name="index" value="@i" />
                                    <input type="submit" value="Obradi vožnju" />
                                </form>
                            </td>
                        </tr>
                        }
                    }
                }

            }
        </table>
    }

    @if (WebProjekat.Models.Korisnici.ListaSvihVoznji.Count > 0)
    {

        <div>
            <h2>Sve vožnje u sistemu</h2>
        </div>

        <table border="1" style="background-color:cornsilk">

            @foreach (WebProjekat.Models.Voznja v in WebProjekat.Models.Korisnici.ListaSvihVoznji)
            {

                    int i = Model.ListaVoznji.IndexOf(v) + 1;

                <tr>
                    <td colspan="2" align="center">VOŽNJA @i.ToString()</td>
                </tr>

                <tr>
                    <td>Datum i vreme porudžbine:</td>
                    <td><label>@v.DatumVremePorudzbine</label></td>
                </tr>

                <tr>
                    <td>Lokacija na koju taxi dolazi:</td>
                    <td><label>@v.LokacijaNaKojuTaxiDolazi.Adresa.Ulica @v.LokacijaNaKojuTaxiDolazi.Adresa.Broj @v.LokacijaNaKojuTaxiDolazi.Adresa.NaseljenoMesto</label></td>
                </tr>

                <tr>
                    <td>Status vožnje:</td>
                    <td><label>@v.StatusVoznje</label></td>
                </tr>

                <tr>
                    <td colspan="2" align="center">
                        <form action="/Dispecer/SveVoznjeInfo">
                            <input type="hidden" name="index" value="@i" />
                            <input type="submit" value="Prikaži sve informacije" />
                        </form>
                    </td>
                </tr>
                
            }
        </table>
    }

</body>
</html>

