@model WebProjekat.Models.Vozac
@{
    ViewBag.Title = "PrikazVozaca";
}

<div style="text-align:center">
    <h2>Vaši podaci</h2>
</div>

<html>
<body>
    <table style="background-color:lemonchiffon" border="1" align="center">
        <tr>
            <td>Korisničko ime:</td>
            <td><label>@Model.KorisnickoIme</label></td>
        </tr>
        <tr>
            <td>Ime:</td>
            <td><label>@Model.Ime</label></td>
        </tr>
        <tr>
            <td>Prezime:</td>
            <td><label>@Model.Prezime</label></td>
        </tr>
        <tr>
            <td>Jmbg:</td>
            <td><label>@Model.Jmbg</label></td>
        </tr>
        <tr>
            <td>Pol:</td>
            <td><label>@Model.Pol</label></td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td><label>@Model.Email</label></td>
        </tr>
        <tr>
            <td>Kontakt telefon:</td>
            <td><label>@Model.KontaktTelefon</label></td>
        </tr>
    </table>

    <table align="center">
        <tr>
            <td>
                <form action="/Vozac/Izmena">
                    <input type="submit" value="Izmeni profil" />
                </form>
            </td>
            <td>
                <form action="/Vozac/Odjava">
                    <input type="submit" value="Odjavi se" />
                </form>
            </td>
        </tr>
    </table>

    <div style="text-align:center">
        <h2>Vaša trenutna lokacija je: @Model.Lokacija.Adresa.Ulica @Model.Lokacija.Adresa.Broj, @Model.Lokacija.Adresa.NaseljenoMesto @Model.Lokacija.Adresa.PozivniBrojMesta</h2>
        <form action="/Vozac/Lokacija">
            <input type="submit" value="Promeni lokaciju" />
        </form>
    </div>

    <div style="text-align:center">
        <h2>Podaci o vašem automobilu</h2>
    </div>
    <table style="background-color:lemonchiffon" align="center" border="1">
        <tr>
            <td>
                Godiste:
            </td>
            <td><label>@Model.Automobil.GodisteAutomobila</label></td>
        </tr>
        <tr>
            <td>
                Registarska oznaka:
            </td>
            <td><label>@Model.Automobil.BrojRegistarskeOznake</label></td>
        </tr>
        <tr>
            <td>
                Tip:
            </td>
            <td><label>@Model.Automobil.TipAutomobila</label></td>
        </tr>
        <tr>
            <td>
                Broj vozila:
            </td>
            <td><label>@Model.Automobil.BrojTaxiVozila</label></td>
        </tr>
    </table>

    @if (Model.ListaVoznji.Count > 0)
    {
        <form action="/Vozac/Tabela">
            <table>
                <tr>
                    <td>Filtriraj po statusu voznje:</td>
                    <td>
                        <select name="filter">
                            <option value="SVE"> SVE VOŽNJE</option>
                            <option value="FORMIRANA">FORIMIRANE</option>
                            <option value="OBRADJENA">OBRAĐENE</option>
                            <option value="PRIHVACENA">PRIHVAĆENE</option>
                            <option value="NEUSPESNA">NEUSPEŠNE</option>
                            <option value="USPESNA">USPEŠNE</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>Sortiraj po:</td>
                    <td>
                        <select name="sort">
                            <option value="SVE">BEZ SORTIRANJA</option>
                            <option value="DATUM">DATUMU</option>
                            <option value="OCENA">OCENI</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td align="center" colspan="2">Pretraži po datumu porudžbine:</td>
                </tr>
                <tr>
                    <td>
                        <label>Od:</label>
                        <select name="odDatum">
                            <option value="prazno" selected="selected"></option>
                            @foreach (WebProjekat.Models.Voznja v in Model.ListaVoznji)
                {
                    <option>@v.DatumVremePorudzbine</option>
    }
                        </select>
                    </td>
                    <td>
                        <label>Do:</label>
                        <select name="doDatum">
                            <option value="prazno" selected="selected"></option>
                            @foreach (WebProjekat.Models.Voznja v in Model.ListaVoznji)
                {
                    <option>@v.DatumVremePorudzbine</option>
    }
                        </select>
                    </td>
                </tr>

                <tr>
                    <td align="center" colspan="2">Pretraži po oceni:</td>
                </tr>
                <tr>
                    <td align="right">
                        <label>Od:</label>
                        <select name="odOcena">
                            <option value="NEOCENJEN" selected="selected">0</option>
                            <option value="VRLOLOSE">1</option>
                            <option value="LOSE">2</option>
                            <option value="DOBRO">3</option>
                            <option value="VRLODOBRO">4</option>
                            <option value="ODLICNO">5</option>
                        </select>
                    </td>
                    <td>
                        <label>Do:</label>
                        <select name="doOcena">
                            <option value="ODLICNO" selected="selected">5</option>
                            <option value="VRLODOBRO">4</option>
                            <option value="DOBRO">3</option>
                            <option value="LOSE">2</option>
                            <option value="VRLOLOSE">1</option>
                            <option value="NEOCENJEN">0</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td align="center" colspan="2">Pretraži po ceni:</td>
                </tr>
                <tr>
                    <td><label>Od:</label><input type="text" name="odCena" /></td>
                    <td><label>Do:</label><input type="text" name="doCena" /></td>
                </tr>

                <tr>
                    <td colspan="2" align="right">
                        <input type="hidden" name="vozac" value="@Model.KorisnickoIme" />
                        <input type="submit" value="Primeni" />
                    </td>
                </tr>
            </table>
        </form>
    }

    @if (Model.SortiraneVoznje.Count > 0)
    {
        <div>
            <h2>Vaše vožnje</h2>
        </div>

        <table border="1" style="background-color:lemonchiffon">

            @foreach (WebProjekat.Models.Voznja v in @Model.SortiraneVoznje)
            {
                if (v.StatusVoznje == Model.Filter || Model.Filter == WebProjekat.Models.Enums.StatusVoznje.NEMA)
                {
                    int i = @Model.ListaVoznji.IndexOf(v) + 1;

                <tr>
                    <td colspan="2" align="center">VOŽNJA @i.ToString()</td>
                </tr>

                <tr>
                    <td>Datum i vreme porudžbine:</td>
                    <td><label>@v.DatumVremePorudzbine</label></td>
                </tr>

                <tr>
                    <td>Lokacija na koju taxi dolazi:</td>
                    <td><label>@v.LokacijaNaKojuTaxiDolazi.Adresa.Ulica @v.LokacijaNaKojuTaxiDolazi.Adresa.Broj @v.LokacijaNaKojuTaxiDolazi.Adresa.NaseljenoMesto</label></td>
                </tr>

                <tr>
                    <td>Status vožnje:</td>
                    <td><label>@v.StatusVoznje</label></td>
                </tr>

                <tr>
                    <td colspan="2" align="center">
                        <form action="/Vozac/VoznjaInfo">
                            <input type="hidden" name="vozac" value="@Model.KorisnickoIme" />
                            <input type="hidden" name="index" value="@i" />
                            <input type="submit" value="Prikaži sve informacije" />
                        </form>
                    </td>
                </tr>
                    if (v.StatusVoznje != WebProjekat.Models.Enums.StatusVoznje.USPESNA)
                    {
                        if (v.StatusVoznje != WebProjekat.Models.Enums.StatusVoznje.NEUSPESNA)
                        {
                        <tr>
                            <td colspan="2" align="center">
                                <form action="/Vozac/StatusVoznje">
                                    <input type="hidden" name="vozac" value="@Model.KorisnickoIme" />
                                    <input type="hidden" name="index" value="@i" />
                                    <input type="submit" value="Promeni status vožnje" />
                                </form>
                            </td>
                        </tr>
                        }
                    }
                }
            }
        </table>
    }

    @if (WebProjekat.Models.Korisnici.ListaSvihVoznji.Count > 0)
    {

        <div>
            <h2>Sve vožnje u sistemu koje su na čekanju</h2>
        </div>

        <table border="1" style="background-color:lemonchiffon">

            @foreach (WebProjekat.Models.Voznja v in WebProjekat.Models.Korisnici.ListaSvihVoznji)
            {
                    int i = WebProjekat.Models.Korisnici.ListaSvihVoznji.IndexOf(v) + 1;

                    <tr>
                        <td colspan="2" align="center">VOŽNJA @i.ToString()</td>
                    </tr>

                    <tr>
                        <td>Datum i vreme porudžbine:</td>
                        <td><label>@v.DatumVremePorudzbine</label></td>
                    </tr>

                    <tr>
                        <td>Lokacija na koju taxi dolazi:</td>
                        <td><label>@v.LokacijaNaKojuTaxiDolazi.Adresa.Ulica @v.LokacijaNaKojuTaxiDolazi.Adresa.Broj @v.LokacijaNaKojuTaxiDolazi.Adresa.NaseljenoMesto</label></td>
                    </tr>

                    <tr>
                        <td>Status vožnje:</td>
                        <td><label>@v.StatusVoznje</label></td>
                    </tr>

                    <tr>
                        <td colspan="2" align="center">
                            <form action="/Vozac/SveVoznjeInfo">
                                <input type="hidden" name="index" value="@i" />
                                <input type="submit" value="Prikaži sve informacije" />
                            </form>
                        </td>
                    </tr>

                if (v.StatusVoznje == WebProjekat.Models.Enums.StatusVoznje.FORMIRANA)
                {
                    <tr>
                        <td colspan="2" align="center">
                            <form action="/Vozac/VoznjaPreuzmi">
                                <input type="hidden" name="index" value="@i" />
                                <input type="hidden" name="vozac" value="@Model.KorisnickoIme" />
                                <input type="submit" value="Preuzmi vožnju" />
                            </form>
                        </td>
                    </tr>
                }
            }
        </table>
    }
</body>
</html>


